* {
  margin: 0;
  padding: 0;
}


header {
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 98px;
  width: 100%;
  background-color: white;
  border-bottom: 2px #000000 solid;
  padding: 0px 40px;
}

.toggle,
.toggle_check {
  display: none;
  cursor: pointer;
}

.name {
  align-items: center;
  font-family: "Roboto-Bold", sans-serif;
  text-decoration: none;
  line-height: 32px;
  font-size: 28px;
  color: #000000;
  margin-right: 370px;
}

.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: white;
  z-index: 999;
}

.number_bt {
  gap: 32px;
}
.nav {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-family: "Roboto-Medium", sans-serif;
}

.nav li {
  cursor: pointer;
  color: hsl(0, 0%, 0%, 0.7);
}
.callrightnow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: hsl(0, 0%, 0%, 0.7);
}

.phonenumber {
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.call {
  display: flex;
  align-items: center;

  background-color: #ff5545;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding: 12px 24px;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
}
.call:hover {
  background-color: rgb(254, 70, 53);
}


.mihelcon {
  height: 798px;
  background: url(assets/images/1man.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 236px 165px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.order {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 540px;
}
.order_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mihelcon_sergey {
  font-size: 64px;
  line-height: 68px;
  font-family: "Roboto-Bold", sans-serif;
  color: white;
}
.mihelcon_text {
  color: hsl(0, 0%, 100%, 0.8);
  font-size: 24px;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 130%;
}
.button_order {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}
.cost_of_price {
  display: flex;
  background-color: #ff5545;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding: 20px 32px;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
  flex-grow: 1;
}
.details_service {
  display: flex;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 24px;
  color: #ff5545;
  padding: 20px 32px;
  font-family: "Roboto-Medium", sans-serif;
  text-decoration: none;
  flex-grow: 1;
}

